[Desktop Entry]
Name=Nerocash Core
Comment=Connect to the Nerocash P2P Network
Comment[de]=Verbinde mit dem Nerocash peer-to-peer Netzwerk
Comment[fr]=Nerocash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nerocash, eşten eşe kriptografik sanal para birimi
Exec=nerocash-qt %u
Terminal=false
Type=Application
Icon=noncecash128
MimeType=x-scheme-handler/nerocash;
Categories=Office;Finance;
