[Desktop Entry]
Name=NonceCash Core
Comment=Connect to the NonceCash P2P Network
Comment[de]=Verbinde mit dem NonceCash peer-to-peer Netzwerk
Comment[fr]=NonceCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NonceCash, eşten eşe kriptografik sanal para birimi
Exec=noncecash-qt %u
Terminal=false
Type=Application
Icon=noncecash128
MimeType=x-scheme-handler/noncecash;
Categories=Office;Finance;
